language: python
python:
    - "2.7"

# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false
cache:
    directories:
        - "~/.platformio"

install:
    - pip install -U platformio

script:
    - platformio ci --project-conf=platformio.ini 
      examples/01-Basic/AudioPassThru/AudioPassThru.ino 
      examples/01-Basic/BasicGain/BasicGain.ino
      examples/01-Basic/ChangeSampleRate/ChangeSampleRate.ino
    #  examples/01-Basic/PrintCPUandMemoryUsage/PrintCPUandMemoryUsage.ino
    #  examples/01-Basic/TrebleBoost/TrebleBoost.ino
    #  examples/01-Basic/TrebleBoost_wComp/TrebleBoost_wComp.ino
